/* 
    Created on : Sep 3, 2014, 5:49:10 PM
    Author     : Paul Esson
*/


H1 { 
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    text-align: center 
    }
