/* 
    Created on : Sep 3, 2014, 5:49:10 PM
    Author     : Paul Esson
*/


.heading { 
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    text-align: center;
    text-shadow: 1px 1px #dfdfdf;
    font-size: 400%;
    font-style: italic;
    }

    
    .Table
    {
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .Row
    {
        display: table-row;
    }
    
    .FloorShaft
    {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
    .Cell
    {
        display: table-cell;
        border-bottom: solid;
        
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }